
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body>
	
	<nav th:replace="fragments::nav"></nav>
		
	<div class="container">
	<h1>Edit PayPal Buttons</h1>
	 <!-- administration menu-->
	<div th:replace="fragments::admin-menu"></div>
					<hr/>
		
		<h2>Create new PayPal button</h2>
        <form action="/create-paypal-button" method="POST">        
	
			<!-- this uses angularJS to have text box that
			user can type and update in real time -->
				
        	<div class="form-group">
			  <label class="col-3 col-form-label">Enter a descriptive button name.</label>
			  <br/>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="Button name" name="name"
			     required="required" data-error="Name is required." />
			     <div class="help-block with-errors"></div>
			  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-3">Enter HTML code from PayPal website.<br/><br/>
			    <strong>SIMPLY COPY AND PASTE CODE FROM PAYPAL WEBSITE.</strong></label>
			    <br/><br/>
			    <textarea class="form-control col-6" name="content" rows="4"
			    required="required" data-error="Content is required." ></textarea>
			    <div class="help-block with-errors"></div>
			  </div>
			 	<br/>
			    <button type="submit">Add PayPal Button</button>
		</form>
        
        <br/><br/>
        <!-- delete based on ID -->
        	<h2>Delete entry based on ID number</h2>
			<form action="/delete-paypal-button" method="GET">
				<label for="ID">ID:</label><br />
				<input type="text" name="ID" size="50" class="ID"  
				required="required" data-error="ID is required." />
				<div class="help-block with-errors"></div><br />	
				<h3>Click this button to delete entry</h3><br />
				<button type="submit" id="button">Delete</button>
				<br />
			</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
			<h2>List all</h2>
			<form action="/list-paypal-buttons" method="GET">
				<button type="submit" id="button">List all</button><br />
			</form>
				
				
		<br/><br/><hr/>
			
	
	<!-- end container -->
	</div>
       <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>
	

    </body>
</html>