
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body>
	
	<nav th:replace="fragments::nav"></nav>
	
  <!-- jumbotron-->
    <div th:replace="fragments::jumbotron">
    </div>
	
	
<div class="album text-muted">
      <div class="container">

		
		 
		 <!-- for each list item -->
		<div th:unless="${#lists.isEmpty(cardList)}">
		
		<!-- start row -->
		 <div class="row">
		  <div class="col-md-4" th:each="card, idx : ${cardList}">
		    <div class="thumbnail">
		      <a th:href="${card.url}">
		        <img th:attr="src=${card.url},title=${card.headline},alt=${card.headline}" height="70%" width="70%"/>
		        <br/>
		        <span th:text="${card.headline}"></span>
		        <br/><br/>
		        <span th:text="${card.content}"></span>
		      </a>
		    </div>
		  </div>

		</div>
		</div>
		<!-- if list is empty -->
		<div th:if="${#lists.isEmpty(cardList)}">
			<p>There are no images in the gallery currently.</p>
		</div>

      </div>
    </div>


       <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>
	

    </body>
</html>